body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: rgb(240, 240, 240);
}

#header-img {
    position: relative;
    float: left;
    width: 320px;
    height: auto;
}

#nav-bar {
    display: inline-block; 
    height: 50px;
    line-height: 50px;
}

#nav-bar ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#nav-bar li {
    float: right;
}

#nav-bar li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
}