body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: rgb(240, 240, 240);
}

#header-img {
    float: left;
    width: 320px;
    height: auto;
    margin-top: 10px;
    margin-left: 30px;
}

#nav-bar {
    display: flex; 
    height: 50px;
    width: 100%;
    line-height: 50px;
    justify-content: flex-end;
    flex-direction: row;
    position: fixed;
    background-color: rgb(240, 240, 240);
    margin-top: -20px;
    margin-bottom: 50px;
    padding: 20px 20px 20px 20px;

}
@media (max-width: 650px) {
    .logo > img {
      margin: 0 auto;
    }
}

#nav-bar ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#nav-bar li {
    float: right;
}

#nav-bar li a {
    text-align: center;
    text-decoration: none;
    padding: 80px 100px;
}

a {
    color: black;
}

a:hover {
    color:rgb(243, 201, 14);
}

h1 {
    font-size: 24px;
    text-align: center;
    padding-top: 10px;
}

#form {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#email {
    width: 250px;
    height: 23px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;;
}

#submit {
    margin-left: 70px;
    margin-right: 70px;
    height: 30px;
    width: 150px;
    font-size: 16px;
    font-weight: bold;
    border: none; 
    background-color: rgb(243, 201, 14);
}

#submit:hover {
    background-color:rgb(243, 163, 14);
    transition: background-color 1s;
    cursor: pointer;
}

#features {
    max-width: 800px;
    margin: 25px auto 25px auto;
}

h2 {
    font-size: 24px;
}

#how-it-works {
    max-width: 800px;
    margin: 25px auto 25px auto;
}

#video {
    width: 550px;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 50px;
    margin-bottom: 40px;
}

#pricing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 30px;
    margin-bottom: 35px;
    max-width: 1000px;
    margin-left:auto;
    margin-right: auto;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #000;
    border-radius: 3px;
}

.product ol {
    list-style-type: none;
    text-decoration: none;
    text-align: left;
    margin-top: -10px;
}

.price-tag {
    font-size: 24px;
    font-weight: bold;
    margin-top: -5px;
}

h3 {
    font-size: 16px;
    background-color: gainsboro;
    padding: 10px 0px 10px 0px;
    width: 100%;
    height: 100%;
}

#select1 {
    height: 30px;
    width: 150px;
    font-size: 16px;
    border: none; 
    background-color: rgb(243, 201, 14);
}

#select1:hover {
    background-color:rgb(243, 163, 14);
    transition: background-color 1s;
    cursor: pointer;
}

#select2 {
    height: 30px;
    width: 150px;
    font-size: 16px;
    border: none; 
    background-color: rgb(243, 201, 14);
}

#select2:hover {
    background-color:rgb(243, 163, 14);
    transition: background-color 1s;
    cursor: pointer;
}

#select3 {
    height: 30px;
    width: 150px;
    font-size: 16px;
    border: none; 
    background-color: rgb(243, 201, 14);
}

#select3:hover {
    background-color:rgb(243, 163, 14);
    transition: background-color 1s;
    cursor: pointer;
}

footer {
    background-color: gainsboro;
    max-width: 800px;
    margin: auto;
}

#footer-menu {
    display: flex; 
    height: 50px;
    line-height: 50px;
    justify-content: flex-end;
}

#footer-menu ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#footer-menu li {
    float: right;
}

#footer-menu li a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

.copyright {
    text-align: end;
    background-color: gainsboro;
    max-width: 800px;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 25px;
    font-size: 14px;
    color: grey;
}